@font-face {
  font-family: "Noto_Sans_KR";
  src: url(./fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
