@font-face {
  font-family: "Noto_Sans_KR";
  src: url(./fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(242, 242, 242);
  color: rgb(48, 48, 48);
  font-size: 18px;
}

.main-container {
  background: #fff;
  padding: 56px 36px;
}
